## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Isangel,VU,-19.5500,169.2667,77.11,73,75,4.03,broken clouds
1,1,Cape Town,ZA,-33.9258,18.4232,57.11,93,98,6.62,overcast clouds
2,2,Petershagen,DE,52.3833,8.9667,52.21,90,75,14.94,broken clouds
3,3,Mahebourg,MU,-20.4081,57.7000,80.26,88,75,4.61,broken clouds
4,4,Ponta Do Sol,PT,32.6667,-17.1000,65.71,75,100,4.74,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Isangel,VU,-19.5500,169.2667,77.11,73,75,4.03,broken clouds
3,3,Mahebourg,MU,-20.4081,57.7000,80.26,88,75,4.61,broken clouds
7,7,Atuona,PF,-9.8000,-139.0333,79.34,76,77,16.26,light rain
12,12,Buchanan,LR,5.8808,-10.0467,76.96,87,69,2.19,broken clouds
13,13,Cayenne,GF,4.9333,-52.3333,75.24,90,75,4.00,moderate rain
15,15,Merauke,ID,-8.4667,140.3333,80.19,78,66,11.92,broken clouds
20,20,Ypsonas,CY,34.6884,32.9574,78.49,94,20,2.84,few clouds
29,29,Jibuti,DJ,11.5000,42.5000,85.42,63,100,7.90,overcast clouds
31,31,Cabo San Lucas,MX,22.8909,-109.9124,85.41,55,90,15.50,overcast clouds
40,40,San Patricio,US,28.0170,-97.5169,80.46,89,1,12.30,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                206
City                   206
Country                206
Lat                    206
Lng                    206
Max Temp               206
Humidity               206
Cloudiness             206
Wind Speed             206
Current Description    206
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No empty rows to drop! Would use dropna() if there were any items to remove.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Isangel,VU,77.11,broken clouds,-19.5500,169.2667,
3,Mahebourg,MU,80.26,broken clouds,-20.4081,57.7000,
7,Atuona,PF,79.34,light rain,-9.8000,-139.0333,
12,Buchanan,LR,76.96,broken clouds,5.8808,-10.0467,
13,Cayenne,GF,75.24,moderate rain,4.9333,-52.3333,
15,Merauke,ID,80.19,broken clouds,-8.4667,140.3333,
20,Ypsonas,CY,78.49,few clouds,34.6884,32.9574,
29,Jibuti,DJ,85.42,overcast clouds,11.5000,42.5000,
31,Cabo San Lucas,MX,85.41,overcast clouds,22.8909,-109.9124,
40,San Patricio,US,80.46,clear sky,28.0170,-97.5169,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    hotels = requests.get(base_url, params=params).json()
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Isangel,VU,77.11,broken clouds,-19.5500,169.2667,Tanna Lodge
3,Mahebourg,MU,80.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Atuona,PF,79.34,light rain,-9.8000,-139.0333,Villa Enata
12,Buchanan,LR,76.96,broken clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
13,Cayenne,GF,75.24,moderate rain,4.9333,-52.3333,Hôtel Le Dronmi

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   206
Country                206
Max Temp               206
Current Description    206
Lat                    206
Lng                    206
Hotel Name             206
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation_map.png"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")